.menu {
    background: linear-gradient(to right, (#c6f8d2), #817f7f);
}
.spacer {
    flex: 1 1 auto;
  }
  mat-icon {
      font-weight: bold;
      box-shadow: 2px 2px 2px #201f1f36;
  }
  span {
      font-weight: bold;
      font-family:Georgia, 'Times New Roman', Times, serif ;
  }