<mat-toolbar class="menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon> 
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink='frangos'>
          <span>Frango</span>
        </button >
        <button mat-menu-item routerLink ='carnes'>
          <span>Carnes</span>
        </button>
        <button mat-menu-item>
          <span>Peixes</span>
        </button>
        <button mat-menu-item>
            <span>Frutos do Mar</span>
          </button>
          <button mat-menu-item>
            <span>Saladas</span>
          </button>
          <button mat-menu-item>
            <span>Sobremesas</span>
          </button>
          <button mat-menu-item>
            <span>Receitas Veggies</span>
          </button>
          <button mat-menu-item>
            <span>Shakes Fitness</span>
          </button>
    </mat-menu>      
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
