.row {
  width: 100%;
  margin: 10px auto;
  
}
.menu-card {
   background: linear-gradient(to right, (#c6f8d2), #817f7f);
  
  
  h1 {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
  }

 
}
